{% extends "base.html" %}
{% block content %}



<div class="row  ">
    {% for product in products %}






    <div class="col">
        <div class="card" style="width: 18rem; mx-2 my-4">
            <img src=" /static/{{ product.img }}" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}} {{product.year}}</h5>
                <h5 class="card-text">{{product.price}}$</h5>
                <a href="/product/{{product.id}}" class="btn btn-primary ">სრულად ნახვა</a>
            </div>
            {% if current_user.role=="admin" %}
            <li class="list-group-item mx-3 my-1">
                <a href="/edit_product/{{product.id}}" class="btn btn-outline-info">რედაქტირება</a>
            </li>
            <li class="list-group-item mx-3 my-1">
                <a href="/delete_product/{{product.id}}" class="btn btn-danger">წაშლა</a>
            </li>


            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>






{% endblock %}